{#
/**
 * @file
 * Twig svg template.
 *
 * Available variables:
 * - title: The title for this SVG.
 * - classes: The classes for this SVG.
 * - attributes: The attributes for this SVG.
 * - name: The name for this SVG.
 * - wrapper_classes: Wrapper classes.
 */
#}
{% if wrapper_classes %}
  <span class="icon__wrapper {{ wrapper_classes }}">
{% else %}
  <span class="icon__wrapper">
{% endif %}
  {% if title %}
    <svg role="img" title="{{ title }}" aria-label="{{ title }}" class="{{ classes }}" {{ attributes }} xmlns:xlink="http://www.w3.org/1999/xlink">
  {% else %}
    <svg aria-hidden="true" class="{{ classes }}" {{ attributes }} xmlns:xlink="http://www.w3.org/1999/xlink">
  {% endif %}
    <use xlink:href="#{{ name }}"></use>
  </svg>
</span>
